/* MEDIAQUERY */
/* DESKTOP */
@media screen and (min-width: 992px){
    .overview .row .main-header-text{
        font-size: 0.8rem;
    }
    
    .offcanvas-width{
        width: 50vw !important;
    }
}
/* TABLET */
@media screen and (max-width: 768px){
    .overview .row .main-header-text{
        font-size: 0.9rem;
    }

    .offcanvas-width{
        width: 100vw !important;
    }
}
/* MOBILE */
@media screen and (min-width: 576px){
    
}